<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.crm.mapper.ChartMapper">
    <select id="selectCustomerChart" resultType="java.util.Map">
        select ${groupType} groupType,count(c.id) customerNum from customer c
        JOIN employee e on e.id = c.seller_id
        <where>
            <if test="beginTime!=null">
                and c.inputTime >= #{beginTime}
            </if>
            <if test="endTime!=null">
                and c.inputTime &lt;= #{endTime}
            </if>
            <if test="keyword!=null">
                and e.name like concat ('%',#{keyword},'%')
            </if>
        </where>
        group by groupType
    </select>
</mapper>