<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.CustomerTraceHistoryMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.CustomerTraceHistory">
    <id column="id" property="id" />
    <result column="traceTime" property="traceTime" />
    <result column="traceDetails" property="traceDetails" />
    <result column="traceResult" property="traceResult" />
    <result column="remark" property="remark" />
    <result column="inputTime" property="inputTime" />
    <result column="type" property="type" />

    <association property="traceType" javaType="SystemDictionaryItem" column="traceType_id"
                 select="cn.wolfcode.crm.mapper.SystemDictionaryItemMapper.selectByPrimaryKey">
    </association>

    <association property="customer" javaType="Customer" columnPrefix="c_">
      <id column="id" property="id" />
      <result column="name" property="name" />
    </association>

    <association property="inputUser" javaType="Employee" columnPrefix="e_">
      <id column="id" property="id" />
      <result column="name" property="name" />
    </association>

  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from customertracehistory
    where id = #{id}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into customertracehistory (traceTime, traceDetails, traceType_id, traceResult, remark, 
      customer_id, inputUser_id, inputTime, type)
    values (#{traceTime}, #{traceDetails}, #{traceType.id}, #{traceResult}, #{remark},
      #{customer.id}, #{inputUser.id}, #{inputTime}, #{type})
  </insert>
  <update id="updateByPrimaryKey">
    update customertracehistory
    set traceTime = #{traceTime},
      traceDetails = #{traceDetails},
      traceType_id = #{traceType.id},
      traceResult = #{traceResult},
      remark = #{remark},
      customer_id = #{customer.id},
      type = #{type}
    where id = #{id}
  </update>

  <select id="selectForList" resultMap="BaseResultMap">
    select cth.id, cth.traceTime, cth.traceDetails, cth.traceType_id, cth.traceResult, cth.traceType_id, cth.remark, cth.inputTime, cth.type,
        c.id c_id, c.name c_name, e.id e_id, e.name e_name
    from customertracehistory cth
    left join customer c on cth.customer_id = c.id
    LEFT JOIN employee e on cth.inputUser_id = e.id
  </select>
</mapper>