<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wolfcode.crm.mapper.CustomerTransferMapper">
  <resultMap id="BaseResultMap" type="cn.wolfcode.crm.domain.CustomerTransfer">
    <id column="id" property="id" />
    <result column="reason" property="reason" />
    <result column="operateTime" property="operateTime" />


    <association property="customer" javaType="Customer" columnPrefix="c_">
      <id column="id" property="id" />
      <result column="name" property="name" />
    </association>

    <association property="operator" javaType="Employee" columnPrefix="eo_">
      <id column="id" property="id" />
      <result column="name" property="name" />
    </association>

    <association property="oldSeller" javaType="Employee" columnPrefix="eos_">
      <id column="id" property="id" />
      <result column="name" property="name" />
    </association>

    <association property="newSeller" javaType="Employee" columnPrefix="ens_">
      <id column="id" property="id" />
      <result column="name" property="name" />
    </association>

  </resultMap>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into customertransfer (customer_id, operator_id, operateTime, oldSeller_id, newSeller_id, 
      reason)
    values (#{customer.id}, #{operator.id}, #{operateTime}, #{oldSeller.id}, #{newSeller.id},
      #{reason})
  </insert>


  <select id="selectForList" resultMap="BaseResultMap">
    select ct.id, ct.customer_id, ct.operator_id, ct.operateTime, ct.oldSeller_id, ct.newSeller_id, ct.reason,
       c.id c_id, c.name c_name,
         eo.id eo_id, eo.name eo_name,
       eos.id eos_id, eos.name eos_name,
         ens.id ens_id, ens.name ens_name
    from customertransfer ct
    LEFT JOIN customer c on c.id = ct.customer_id
    LEFT JOIN employee eo on eo.id = ct.operator_id
    LEFT JOIN employee eos on eos.id = ct.oldSeller_id
    LEFT JOIN employee ens on ens.id = ct.newSeller_id
  </select>
</mapper>